
@import 'basscss-base-reset';
@import 'basscss-base-forms';
@import 'basscss-base-tables';
@import 'basscss-base-typography';
@import 'basscss-color-base';
@import 'basscss-color-tables';

@import 'basscss-btn';
@import 'basscss-btn-primary';
@import 'basscss-btn-outline';

@import 'basscss-type-scale';
@import 'basscss-typography';
@import 'basscss-layout';
@import 'basscss-align';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-position';
@import 'basscss-responsive-states';
@import 'basscss-grid';
@import 'flex-object';
@import 'basscss-border';

@import 'basscss-colors';
@import 'basscss-background-colors';

@import 'basscss-defaults';


@import 'custom-modules/color-forms';


/* overrides here */

:root {
  --font-family: 'Avenir Next', 'Hevletica Neue', sans-serif;
  --form-field-font-size: 1.25rem;
  --form-field-height: 3rem;
  --form-field-padding-y: 2rem;
  --form-field-padding-x: 2rem;
  --black:  #333;
}

html, body {
  height: 100%;
}

.wrap {
  height: 100vh;
}

.overflow-y-scroll {
  overflow-y: scroll;
}


/* custom */
.job-item {
  background-color: var(--white);
}
.job-item:hover {
  text-decoration: none;
  background: color(var(--silver) a(50%));
}
.job-item.selected, .job-item.selected:hover {
  background: color(var(--blue) a(80%));
  color: var(--white);
}
.job-item.visited {
  background-color: color(var(--blue) l(97%));
  color: var(--black);
}
